.wrapper{
    max-width: 1920px;
    width: 90vw;
    margin: 0 auto;
}
.header1 {
    text-align: center;
    color: rgb(231, 63, 236);
    font-family: roboto;
    font-weight: 900;
    font-size: 2rem;
}

body {
    background-image: url('/assets/img/zov-ktulhu.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
}

.upper-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lower-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ancient__container {
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.ancient-card {
    height: 35vh;
}

.level-and-tracker_container {}

.tracker__container {}

.stage__container {}

.stage {}

.card__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card {
    padding: 10px 15px;
    border-radius: 3px;
    text-align: center;
   }

.green_card {

    background-color: green;
}

.brown_card {

    background-color: brown;
}

.blue_card {

    background-color: blue;
}
.level__container {
}
.level {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.complexity {
    border-radius: 5px;
    border: none;
    font-family: roboto, sans-serif;
    font-size: 1rem;
}

.deal-cards__container {
    display: flex;
    flex-direction: column;
}
.level__container {
    padding-bottom: 20px;
}
.complexity {
}
.deal-cards {
    height: 20vh;
    font-size: 4rem;
    font-family: roboto, sans-serif;
    font-weight: 900;
    border-radius: 5px;
}
.lower-part-right {
}
.cards-container {
    display: flex;
gap: 10px
}
.pass-card__container {
}
.card-face-down {
    height: 40vh;
}
.current-card__container {
    width: 10vw;
    height: 40vh;
    border: 3px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
